extends layout
block content
  h1= title
  - let droneid = toShow._id
  - let dronemodel = toShow.model
  - let dronepurpose = toShow.purpose
  - let droneflight_range = toShow.flight_range
  div
    div.row
      div(class='droneAttr mr-3') Drone ID is:
      div #{droneid}
    div.row
      div(class='droneAttr mr-3') Drone Model is:
      div #{dronemodel}
    div.row
      div(class='droneAttr mr-3') Drone Purpose is:
      div #{dronepurpose}
    div.row
      div(class='droneAttr mr-3') Drone Flight Range is:
      div #{droneflight_range}